//加载公用less
@import "_common.less";

body {
    font-size: @font-base;
    font-family: "Microsoft YaHei New","Microsoft Yahei","微软雅黑","Lucida Sans Unicode",Arial,SimHei,"黑体","STXihei","华文细黑",sans-serif;
    color: @text-color;
}

* {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color: @text-color;
}

.body-bg {
    background: @grey-bg;
}

.sb-title-bg {
    background-color: @blue-bg;

    .mui-title {
        color: @white-color;
    }
    .sb-back-icon {
        color: @white-color;
    }
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: @white-color;
}

.mui-slider-indicator {
    bottom: 4px;
}

.margin-head {
    margin: 43px 0;
}
.margin-big-head {
    margin-top: 58px;
}


.sb-model {
    margin: 10px 0 0;
    
    .sb-title-text {
        line-height: 44px;
        color: @title-color;
//      background: @white-color;
        font-size: @font-size-s16;
        border-bottom: 1px @border-grey solid;
        padding: 0 10px;
    }

    .sb-title-con {
        display: inline-block;
        &:before {
            display: inline-block;
            width: 2px;
            height: 15px;
            content: " ";
//          border: 1px @blue-bg solid;
            background: @blue-bg;
            margin-right: 5px;
        }
    }
    
    .sb-title-icon {
        display: inline-block;
        float: right;
        margin-right: 5px;
        font-size: @font-size-s12;
        color: @blue-bg;
        &:after {
            content: '\e583';
            font-family: Muiicons;
            font-size: inherit;
            line-height: 1;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-decoration: none;
            color: @blue-bg;
            -webkit-font-smoothing: antialiased;
        }
    }
    
    .sb-news-title {
        display: inline-block;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sb-news-time {
        margin-right: 20px;
        margin-top: 2px;
        float: right;
        font-style: normal;
        font-size: @font-size-s12;
    }
    
    .img-icon{
        width: 56px;
        height: 56px;
        margin: 0 auto;
        .border-radius(50%);
        
    }
    
    .img-text{
        padding-top: 6px;
        color: @title-color;
        text-align: center;
        font-weight: bold;
    }
    
     .icon-style{
         line-height: 56px;
         font-size: 30px;
         margin:0 13px;
     }
     
     .list-items{
         padding: 0 15px;
         border-right: 1px #ccc solid;
         
         .icon-size1{
             float: left;
             font-size: 54px;
             color:#999;
        }
        
        .icon-size2{
            text-align: center;
            font-size: 32px;
            color:#999;
        }
        
        .num-text{
            font-size: @font-size-s16;
            color: @brand-red;
            text-align: center; 
            padding: 6px 0;
        }
        
        .title-text{
            text-align: center;
           
        }
     }
   
}

.qrcode-mode{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px @blue-color solid;
    .border-radius(50%);
    
    .qrcode-color{
        color:@blue-color;
        font-size: 22px;
        line-height: 40px;
    }
}

.sb-btn {
    display: inline-block;
    width: 100%;
    padding: 12px 15px;
    background: @blue-bg;
    color: #ffffff;
    text-align: center;
    .border-radius(3px);
}

.sb-btn-primary {
    background: #ffffff;
    border: 1px @blue-bg solid;
    color: @text-color;
}

//登录
.form-mode {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    //  margin-top:58px;

    .sb-input-row {
        width: 90%;
        margin: 0 auto;
    }
    
    .logo-img{
        width: 100px;
        height: 100px;
        padding: 30px 0;
        margin: 0 auto;
        text-align: center;
    }
    
    .a-text{
        padding: 4px 2px;
    }

    .sb-input-clear {
        width: 88%;
        padding: 18px 15px;
        color: @text-color;
        margin-left: 2%;
        font-size: 14px;
    }

    .sb-input-code {
        width: 50%;
    }
    .get-code {
        width: 36%;
        padding: 10px 15px;
        border: none;
        background: @blue-bg;
        color: @white-color;
    }

    .fot-pass {
        width: 90%;
        margin: 0 auto;
        text-align: right;

        .fot-pass-text {
            padding: 5px;
        }
    }
    
    .sb-button-row {
        width: 90%;
        margin: 15px auto;
    }
    
    .xy-text{
        color: @blue-bg;
    }
    
     .icon-size3{
         display: inline-block;
         width: 8%;
         font-size: 24px;
         vertical-align: middle;
     }

}

.mode-bg-white{
    background: @white-color;
}

.row-padding{
    padding: 20px 0;
}

.white-color{
    color: @white-color!important;
}

.red-bg{
    background:@brand-red ;
}

.orange-bg{
    background:@orange-color;//橙色

}
.blue-bg{
    background:@blue-color ;
}
.yellow-bg{
    background:@yellow-color;
}

.text-right{
    float: right;
}
