//加载公用less
@import "_common.less";

body {
    font-size: @font-base;
    font-family: "Microsoft YaHei New","Microsoft Yahei","微软雅黑","Lucida Sans Unicode",Arial,SimHei,"黑体","STXihei","华文细黑",sans-serif;
    color: @text-color;
}

* {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

.body-bg {
    background: @grey-bg;
}

.sb-title-bg {
    background-color: @blue-bg;

    .mui-title {
        color: @white-color;
    }
    .sb-back-icon {
        color: @white-color;
    }
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: @white-color;
}

.mui-slider-indicator {
    bottom: 4px;
}

.margin-head {
    margin-top: 43px;
}
.margin-big-head {
    margin-top: 58px;
}


.sb-model {
    margin: 10px 0 0;
    
    .sb-title-text {
        line-height: 44px;
        color: @title-color;
        background: @white-color;
        font-size: @font-size-s16;
        padding: 0 10px;
    }

    .sb-title-con {
        display: inline-block;
        &:before {
            width: 1px;
            content: " ";
            border: 1px @blue-bg solid;
            background: @blue-bg;
            margin-right: 5px;
        }
    }
    
    .sb-title-icon {
        display: inline-block;
        float: right;
        margin-right: 5px;
        font-size: @font-size-s12;
        color: @blue-bg;
        &:after {
            content: '\e583';
            font-family: Muiicons;
            font-size: inherit;
            line-height: 1;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-decoration: none;
            color: @blue-bg;
            -webkit-font-smoothing: antialiased;
        }
    }
    
    .sb-news-title {
        display: inline-block;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sb-news-time {
        margin-right: 20px;
        margin-top: 2px;
        float: right;
        font-style: normal;
        font-size: @font-size-s12;
    }
    
    .img-icon{
        width: 56px;
        height: 56px;
        background: @orange-color;
        margin: 0 auto;
        .border-radius(50%);
        
    }
    
    .img-text{
        padding: 6px 0;
        color: @title-color;
        text-align: center;
        font-weight: bold;
    }
    
     .icon-style{
         line-height: 56px;
         font-size: 30px;
         margin:0 13px;
     }
}

.qrcode-mode{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px @blue-color solid;
    .border-radius(50%);
    
    .qrcode-color{
        color:@blue-color;
        font-size: 22px;
        line-height: 40px;
    }
}

.mode-bg-white{
    background: @white-color;
}

.row-padding{
    padding: 20px 0;
}

.white-color{
    color: @white-color!important;
}

.red-bg{
    background: ;
}
