//加载公用less
@import "_common.less";

body {
    font-size: @font-base;
    font-family: "Microsoft YaHei New","Microsoft Yahei","微软雅黑","Lucida Sans Unicode",Arial,SimHei,"黑体","STXihei","华文细黑",sans-serif;
    color: @text-color;
}

* {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

.body-bg {
    background: @grey-bg;
}

.sb-title-bg {
    background-color: @blue-bg;

    .mui-title {
        color: @white-color;
    }
    .sb-back-icon {
        color: @white-color;
    }
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: @white-color;
}

.mui-slider-indicator {
    bottom: 4px;
}

.margin-head {
    margin-top: 43px;
}
.margin-big-head {
    margin-top: 58px;
}
//登录
.sb-login {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    //  margin-top:58px;

    .sb-input-row {
        width: 90%;
        margin: 0 auto;
    }

    .sb-input-clear {
        padding: 25px 15px;
        color: @text-color;
    }

    .sb-input-code {
        width: 60%;
    }
    .get-code {
        width: 38%;
        padding: 16px 15px;
        border: none;
        background: @blue-bg;
        color: @white-color;
    }

    .fot-pass {
        width: 90%;
        margin: 0 auto;
        text-align: right;

        .fot-pass-text {
            padding: 5px;
        }
    }

}

.sb-reg {
    margin-top: 20px;
}

.sb-tab-control {
    width: 100%;
    background: @white-color;
    border: 1px @border-grey solid;

    .sb-control-item {
        display: inline-block;
        width: 49%;
        color: @text-color;
        font-size: @font-size-s16;
        padding: 18px 0;
        text-align: center;
    }

    .sb-active {
        position: relative;
        color: @blue-bg;
        &:after {
            position: absolute;
            left: 0;
            bottom: -1px;
            content: ' ';
            width: 100%;
            border: 2px @blue-bg solid;
            background: @blue-bg;
        }
    }
}

.sb-button-row {
    width: 90%;
    margin: 15px auto;
}

.sb-btn {
    //.btn(@width:100%,@bg:@blue-bg,@color:@white-color,@padT:10px,@padL:15px)
    .btn(@width:100%,@bg:@blue-bg,@color:@white-color,@padT:15px,@padL:15px);
}

.sb-btn-primary {
    background: @white-color;
    border: 1px @blue-bg solid;
    color: @text-color;

    span {
        color: @blue-bg;
    }
}
.sb-main {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    //  margin-top:43px;
}
.sb-menu {
    position: relative;
    padding-bottom: 10px;
    background: @white-color;

    .sb-menu-viwe {
        margin-left: percentage(1/36);
        margin-top: 10px;
        padding: 10px;

        .sb-menu-link {
            display: block;
            //              overflow: hidden;
            padding: 10px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: @white-color;
            text-align: center;
        }
    }

    .orange-bg {
        background: @orange-color;
    }

    .dark-blue-bg {
        background: @dark-blue-color;
    }

    .green-bg {
        background: @green-color;
    }

    .violet-bg {
        background: @violet-color;
    }

    .brown-bg {
        width: percentage(1/60)+percentage(5/24);
        background: @brown-color;
    }
}

.sb-model {
    margin: 10px 0 0;
    .sb-title-text {
        line-height: 44px;
        color: @title-color;
        background: @white-color;
        font-size: @font-size-s16;
        padding: 0 10px;
    }

    .sb-title-con {
        display: inline-block;
        &:before {
            width: 1px;
            content: " ";
            border: 1px @blue-bg solid;
            background: @blue-bg;
            margin-right: 5px;
        }
    }

    .sb-title-icon {
        display: inline-block;
        float: right;
        margin-right: 5px;
        font-size: @font-size-s12;
        color: @blue-bg;
        &:after {
            content: '\e583';
            font-family: Muiicons;
            font-size: inherit;
            line-height: 1;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-decoration: none;
            color: @blue-bg;
            -webkit-font-smoothing: antialiased;
        }
    }

    .sb-news-title {
        display: inline-block;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sb-news-time {
        margin-right: 20px;
        margin-top: 2px;
        float: right;
        font-style: normal;
        font-size: @font-size-s12;
    }
}

.sb-pro-text {
    position: absolute;
    bottom: 10px;
    width: 100%;

    .sb-pro-title {
        text-align: left;
        margin: 0 0 30px 20px;
        color: @title-color;
        font-size: @font-size-s18;
        //      font-weight: 600;
    }

    .red-btn-icon {
        position: relative;
        width: 120px;
        float: left;
        padding: 3px 0 3px 10px;
        margin-left: 20px;
        background: @brand-red;
        color: @white-color;
        font-size: @font-base;
        text-align: left;
        .border-radius();
    }

    .blue-btn-icon {
        position: relative;
        width: 150px;
        float: left;
        padding: 3px 0 3px 10px;
        margin-left: 20px;
        background: @blue-bg;
        color: @white-color;
        font-size: @font-base;
        text-align: left;
        .border-radius();
    }

    .sb-left-con {
        display: inline-block;
        padding: 2px 0;

    }
    .sb-right-con {
        position: absolute;
        right: 2px;
        display: inline-block;
        padding: 2px 10px;
        background: @grey-bg;
        border-radius: 0 5px 5px 0;
    }

    .color-1 {
        color: @brand-red;
    }

    .color-2 {
        color: @blue-bg;
    }
}

.tag-icon {
    position: absolute;
    top: -2px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/tag_icon.png") no-repeat;
}

//新闻列表
.mui-table-view .midfy-img {
    line-height: 90px;
    max-width: 120px;
    height: 90px;
}

.sb-news-mode {

    .new-title {
        margin-bottom: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @title-color;
        font-size: @font-size-s16;
    }

    .sb-hd {
        display: none;
    }
}

//查询
.sb-seach-mode {
    //  margin-top: 43px;
}

.sb-user-mode {
    width: 100%;
    overflow: hidden;
    //  margin-top: 42px;
    margin-bottom: 50px;

    .user-list-text {
        margin-left: 6px;
        color: @title-color;

    }

    .kf-tel {
        margin-left: 60px;
    }

    .mui-table-view-cell {
        background: @white-color;
    }

    .not-after {
        background: @grey-bg;
    }
    .not-after:after,
    .not-after:before {
        background-color: @white-color;
    }

    .user {
        position: absolute;
        left: 30%;
    }

    .sb-user-head {
        position: relative;
        width: 100%;
        height: 140px;
        background: -webkit-linear-gradient(@blue-bg 85%,@white-color);
        /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(@blue-bg 85%, @white-color);
        /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(@blue-bg 85%,@white-color);
        /* Firefox 3.6 - 15 */
        background: linear-gradient(@blue-bg 85%,@white-color);
        /* 标准的语法 */
    }
    .sb-user-pic {
        position: relative;
        float: left;
        width: 60px;
    }
    .user-pics {
        max-width: 60px;
        height: 60px;
        margin-top: 35px;
        border: 1px @white-color solid;
        .border-radius(50%);
    }

    .user-tag {
        font-size: @font-size-s12;
    }

    .user-con {
        float: left;
        margin-top: 45px;
        margin-left: 15px;
        text-align: center;
        color: @white-color;
    }

    .has-rz {
        position: absolute;
        left: 3px;
        bottom: -5px;
        padding: 0 8px;
        background: rgba(5,5,147,0.8);
        color: @white-color;
        font-size: @font-size-s12;
        .border-radius(5px);
    }

    .right-btn {
        position: absolute;
        top: 15px;
        right: 20px;

        .text-color {
            color: @white-color;
            margin-left: 15px;
        }
    }
}

.user-menu {
    width: 100%;
    padding: 10px;
    background: @white-color;

    .user-menu-list {
        width: initial;
    }

    .user-list-items {
        border-right: 1px @border-grey solid;

        a {
            display: inline-block;
            width: 100%;
            text-align: center;
            color: @title-color;
        }

        .c-color {
            background: #24ceff;
            color: @white-color;
            font-size: @font-size-s16;
        }
        .d-color {
            background: #11c885;
            color: @white-color;
            font-size: @font-size-s16;
        }
    }
    .user-list-items:last-of-type {
        border-right: none;
    }

}

.exit {
    text-align: center;
    background: @white-color;
    margin-top: 20px;

    a {
        display: inline-block;
        padding: 10px;
    }
}

.right-text {
    float: right;
    margin-right: 20px;
}
.no-margin-right{
    margin-right: 0!important;
}

.cacl-table-title{
    font-size: 18px;
    padding: 10px;
}
.my-info {
    //  margin-top: 43px;
}

.foot-icon {
    display: block;
    margin-top: 3px;
    font-size: 23px;
}

.sb-buy {
    //  margin-top: 50px;

    .sb-buy-text {
        position: absolute;
        bottom: 4px;
        width: 100%;
        padding: 10px 0;
        color: @white-color;
        letter-spacing: 1px;
        background: rgba(0,0,0,0.3);
    }

    .pro-hot-icon {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 4px 10px;
        background: #ffbd5a;
        color: @white-color;
        font-size: @font-size-s12;
    }
}
.not-after:after,
.not-after:before {
    background-color: transparent;
}

//社保计算
.cacl-mode {
    //  margin-top: 43px;

    .sb-button-row {
        margin-top: 40px;
    }
    
    .sbBase{
        width: 45%;
        height: 20px;
        border: none;
        font-size: 13px;
    }
    
    #lowestVal{
        vertical-align: middle;
        margin-right: 2px;
    }
}

.empty-line {
    height: 10px;
    background: @grey-bg;
}

.grey-title-bg {
    background: #DEDEDE;
}

.grey-con-bg {
    background: @grey-bg;
}

.img-style {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.mui-btn-blue-noborder {
    color: #007aff;
    border: 1px #007aff solid;
    padding: 4px 10px;
}

.mui-btn-red-noborder {
    color: #dd524d;
    border: 1px solid #dd524d;
    padding: 4px 10px;
}

.mui-btn-orange-noborder {
    color: @orange-color;
    border: 1px solid @orange-color;
    padding: 4px 10px;
}

.detail-row {
    width: 100%;
    padding: 6px 10px;
    background: @white-color;

    .pro-name {
        font-size: @font-size-s16;
        margin-right: 10px;
        line-height: initial;
        vertical-align: middle;
    }

    .detail-title {
        font-size: @font-size-s16;
    }

    .text-size {
        font-size: @font-size-s18;
        margin-top: 3px;
    }
}

.orange-text {
    color: @orange-color;
}

.hui-icon {
    position: relative;
    display: inline-block;
    padding: 2px 4px 4px;
    color: @white-color;
    background: #FF0000;
}

.detail-list {
    margin-top: 10px;

    .check-title {
        display: inline-block;
        width: 40%;
        float: left;
    }

    .check-list {
        width: 60%;
        float: left;
    }

    .mui-btn-normol {
        width: 90%;
        margin-bottom: 6px;
    }
}

.detail-tc-con {
    margin-top: 10px;
    background: @white-color;

    .media-body-text {
        overflow: initial;
        text-overflow: initial!important;
        color: @text-color!important;
        font-size: @font-base!important;

    }

    .mui-media {
        overflow: initial!important;
    }

    .mui-table-view-cell {
        border: none!important;
        padding: 15px!important !important;
    }

    .yq-icon {
        border: 1px @border-grey solid;
        padding: 5px;
        font-size: 30px!important;
        .border-radius(50%);
    }
}

.normol-color {
    color: @border-grey;
}
.check-color {
    color: @orange-color;
    border: 1px @orange-color solid;
}
.after-line {
    border-bottom: 1px @border-grey solid;
}

.footer-submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: @white-color;
    border-top: 1px @border-grey solid;

    .footer-submit-list {
        width: 100%;
        height: 50px;
    }

    .footer-submit-item {
        line-height: 50px;
        text-align: center;

        button {
            width: 100%;
            height: 50px;
            border: none;
            background: @border-grey;
            color: @white-color;
            border-radius: 0;
        }

        .button-active {
            background: @blue-bg;
        }
    }
}

.banner-icon {
    //  margin-top: 10px;
    .icon-mode {
        height: 60px;
    }

    .icon-mode-red {
        border-radius: 0 4px 4px 0;
        background: linear-gradient(120deg,#FF0000 0%,#FF0000 60%,#d50101 100%);
        -moz-background: linear-gradient(120deg,#FF0000 0%,#FF0000 60%,#d50101 100%);
        -webkit-background: linear-gradient(120deg,#FF0000 0%,#FF0000 60%,#d50101 100%);
    }

    .icon-mode-blue {
        border-radius: 4px 0 0 4px;
        //      background: @blue-bg;
        background: linear-gradient(120deg,@blue-bg 0%,@blue-bg 60%,#3061ff 100%);
        -moz-background: linear-gradient(120deg,@blue-bg 0%,@blue-bg 60%,#3061ff 100%);
        -webkit-background: linear-gradient(120deg,@blue-bg 0%,@blue-bg 60%,#3061ff 100%);
        border-left: 2px @white-color dotted;
    }

    .con-list {
        width: 75%;
        padding: 10px 0 10px 15px;
        line-height: 20px;
        float: left;
    }

    .icon-con {
        display: block;
        color: @white-color;
    }

    .big-text {
        font-size: @font-size-s16;
    }

    .icon-white {
        color: @white-color;
        margin: 18px 0;
    }
}

//文章
.sb-article {
    padding: 18px;
    background: @white-color;

    .article-title {
        font-size: @font-size-s16;
        color: @title-color;
        text-align: center;
    }

    .article-src {
        margin-top: 15px;
        text-align: center;
        color: @text-color;
    }

    .img-style {
        margin: 15px 0;
    }

    p {
        text-indent: 28px;
        line-height: 25px;
    }

    h5 {
        font-size: @font-base;
        color: @title-color;
    }
}

//合伙人

.nav-list {
    background: @white-color;
    padding: 10px;

    .nav-list-item {
        text-align: center;
    }
}

.blue-text {
    color: @blue-bg;
}

.list-normal {
    //  padding: 10px;

    .list-normal-item {
        height: 50px;
        text-align: center;
        border: 1px @border-grey solid;
        border-top: none;
        border-left: none;
        font-size: @font-size-s12;
    }
}

.blue-list {
    background: @blue-bg;
    color: @white-color;
    line-height: 50px;
}

.down-btn {
    width: 100%;
    padding-top: 40px;
    text-align: center;

    button {
        width: 70%;
        font-size: @font-size-s16;
        padding: 12px 0;
    }

    div {
        color: #FF5053;
    }
}

//下拉框弹窗

.select-alert-mode {
    position: relative;
    width: 100%;
    height: 100%;

    .alert-mode-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.3;
        z-index: 1;
    }

    .alert-list {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 80%;
        height: 300px;
        margin: auto;
        background: @white-color;
        .border-radius(5px);
        z-index: 2;
    }

    .alert-list-con {
        max-height: 250px;
        overflow: auto;
        .border-radius(5px);
        li:last-of-type {
            &:after {
                background: transparent;
            }

        }
    }

    .select-title {
        text-align: center;
        background: #DEDEDE;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
    }

    .radio-icon {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px @border-grey solid;
        .border-radius(50%);
    }

    .radio-icon-active {
        position: absolute;
        top: 2px;
        left: 2px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: @yellow-color;
        .border-radius(50%);
    }
}
